<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>
    <p>Hello, World!</p>
    <p>{{ current_date }}</p>
    <p>{{ current_date|date:"Y년 m월 d일 H시 i분 s초" }}</p>
    <div id='app'>

      <h1>My Todo App !</h1>
      <strong>서로 할 일이나 의견을 공유해 봅시다.</strong>
      <br>

      <div class="inputBox">
        <input class="name" type="text" placeholder="name ..." v-model="name">
        <input class="item" type="text" placeholder="type anything welcomed ..." v-model="newTodoItem" v-on:keyup.enter="add_todo()">
        <button v-on:click="add_todo()">ADD</button>
      </div>

      <ul class="todoList">
        <li v-for="todo, index in todoItems">
          <span>{ todo.name }::: { todo.item }</span>
          <span class="removeBtn" v-on:click="remove_todo(index)">&#x00D7</span>
        </li>
      </ul>
    </div>

    <script src='https://unpkg.com/vue/dist/vue.min.js'></script>
    <script>
        var vm = new Vue({
        delimiters: ['{','}'],
        el: '#app',
        data: {
            name: '',
            newTodoItem: '',
            todoItems: [
                {name: '김석훈', item: 'Django 와 Vue.js 연동 프로그램을 만들고 있습니다.'},
                {name: '홍길동', item: '이름을 안쓰면 홍길동으로 나와요...'},
                {name: '이순신', item: '신에게는 아직 열두 척의 배가 있사옵니다.'},
                {name: '성춘향', item: '그네 타기'},
            ],
        },
        methods: {
            add_todo: function () {
                console.log("add todo");
                if (this.newTodoItem == '') return;
                if (this.name == '') this.name = '홍길동';

                this.todoItems.push({name: this.name, item: this.newTodoItem});
                this.name = '';
                this.newTodoItem = '';
            },
            remove_todo: function (index) {
                console.log("remove todo");
                this.todoItems.splice(index, 1)
            }

        },
    })
    </script>
</body>

</html>